.main-layout {
  height: 100vh;

  overflow: hidden;
}

.team-table {
  max-height: calc(100vh - 70px);

  padding: 40px;

  overflow-y: auto;

  &__vault {
    margin-right: 40px;
    margin-bottom: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
}
