.page[data-theme-mode='light'] {
  --color-button-item-field-title: var(--color-gray-650);
  --color-button-item-field-text: var(--color-gray-300);
}

.button-item-field {
  &__btn {
    padding: 6px 22px;

    width: 324px;
  }
}
