.ui-theme_light {
  --color-button-item-field-title: #{$gray-650};
  --color-button-item-field-text: #{$gray-300};
}

.button-item-field {
  &__btn {
    width: 324px;

    flex-shrink: 0;

    padding: 6px 22px;
  }
}
