#app[data-theme-mode='light'] {
  --color-ui-card-border-color: var(--color-gray-150);
}

.ui-card {
  padding: 1.25rem;

  border: 1px solid var(--color-ui-card-border-color);
  border-radius: 4px;
}
