#app[data-theme-mode='light'] {
  --color-empty-folder-stub-icon: var(--color-gray-350);
  --color-empty-folder-stub-text: var(--color-gray-350);
}

.empty-folder-stub {
  height: 100%;
  padding-bottom: 70px;

  &__icon {
    --size: 128px;

    width: var(--size);
    height: var(--size);

    fill: var(--color-empty-folder-stub-icon);

    margin-bottom: 24px;
  }

  &__text {
    font-size: 24px;
    font-weight: 600;

    color: var(--color-empty-folder-stub-text);
  }
}
