#app[data-theme-mode='light'] {
  --color-ui-badge-black-text: var(--color-black);
  --color-ui-badge-black-bg: var(--color-gray-100);

  --color-ui-badge-blue-text: var(--color-blue-400);
  --color-ui-badge-blue-bg: var(--color-blue-10);

  --color-ui-badge-green-text: var(--color-green-400);
  --color-ui-badge-green-bg: var(--color-green-50);
}

.ui-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.25rem 0.75rem;

  border-radius: 10px;

  font-size: 0.75rem;
  font-weight: 600;

  &_black {
    color: var(--color-ui-badge-black-text);
    background-color: var(--color-ui-badge-black-bg);
  }

  &_blue {
    color: var(--color-ui-badge-blue-text);
    background-color: var(--color-ui-badge-blue-bg);
  }

  &_green {
    color: var(--color-ui-badge-green-text);
    background-color: var(--color-ui-badge-green-bg);
  }
}
