#app[data-theme-mode='light'] {
  --color-vault-text: var(--color-gray-650);
}

.vault-list {
  height: 100%;

  overflow: auto;

  &__vault {
    margin: 0.625rem;
  }
}

.folder-content {
  &__table {
    padding: 20px;
  }
}

.management-title {
  font-size: 15px;
  font-weight: 500;

  line-height: 2.25rem;

  color: var(--color-gray-550);

  text-align: center;
}
