#app[data-theme-mode='light'] {
  --color-appbar-new-vault-btn-icon-fill: var(--color-green-400);
  --color-appbar-border: var(--color-gray-150);
}

.appbar {
  height: 70px;

  padding: 0 20px;

  &__separator {
    width: 100%;
    height: 1px;

    background-color: var(--color-appbar-border);
  }
}

.new-vault-btn {
  padding: 8px 20px;

  &__icon {
    --size: 12px;

    flex-shrink: 0;
    flex-grow: 1;

    width: var(--size);
    height: var(--size);

    margin-right: 20px;

    fill: var(--color-appbar-new-vault-btn-icon-fill);
  }

  &__text {
    width: 100%;
  }
}
