#app[data-theme-mode='light'] {
  --color-ui-menu-bg: var(--color-white);
  --color-ui-menu-border: var(--color-gray-150);
  --color-ui-menu-scroll: var(--color-gray-100);
  --color-ui-menu-item-text: var(--color-gray-650);

  --color-ui-menu-item-hover-text: var(--color-gray-650);
  --color-ui-menu-item-hover-bg: var(--color-gray-100);

  --color-ui-menu-item-active-text: var(--color-gray-650);
  --color-ui-menu-item-active-bg: var(--color-gray-150);

  --color-ui-menu-item-separator-bg: var(--color-gray-150);

  --color-ui-menu-item-title-text: var(--color-gray-300);
}

.ui-menu {
  min-width: 270px;

  padding: 16px 0;

  background-color: var(--color-ui-menu-bg);

  border: 1px solid var(--color-ui-menu-border);
  border-radius: 4px;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--color-ui-menu-scroll);
  }

  &-item {
    width: 100%;

    padding: 8px 24px;
    user-select: none;
    cursor: pointer;

    font-size: 14px;
    color: var(--color-ui-menu-item-text);
    border-radius: 0;

    transition: none;

    &:active {
      background-color: var(--color-ui-menu-item-active-bg) !important;
      color: var(--color-ui-menu-item-active-text) !important;
    }

    &_active {
      background-color: var(--color-ui-menu-item-hover-bg) !important;
      color: var(--color-ui-menu-item-hover-text) !important;
    }

    &:focus {
      box-shadow: none;
    }

    &__left {
      display: inline-flex;
      width: auto;
      flex-shrink: 0;
    }

    &__submenu-expand-icon {
      --size: 10px;

      width: var(--size);
      height: var(--size);
    }
  }

  &-separator {
    padding: 8px 0;

    &__marker {
      width: 100%;
      min-height: 1px;
      background-color: var(--color-ui-menu-item-separator-bg);
    }
  }

  &-loading {
    padding: 8px 0;
  }

  &-title {
    padding: 8px 24px;

    &__text {
      font-size: 13px;
      font-weight: 400;

      color: var(--color-ui-menu-item-title-text);
    }
  }
}
