.ui-theme_light {
  --color-sign-up-page-verify-form-account-key-text: #{$gray-450};
  --color-sign-up-page-verify-form-field-border: #{$gray-150};
  --color-sign-up-page-verify-form-copy-btn-fill: #{$gray-450};
  --color-sign-up-page-verify-form-copy-btn-hover-bg: #{$gray-100};
  --color-sign-up-page-verify-form-copy-btn-active-bg: #{$gray-150};
}

.verify-form {
  &__warning {
    max-width: 480px;
    margin-top: 16px;

    &-title {
      font-size: 14px;

      & > span {
        font-weight: 600;
      }
    }
  }

  &__field {
    display: inline-flex;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--color-sign-up-page-verify-form-field-border);
    border-radius: 4px;
    margin-top: 8px;
  }

  &__account-key {
    color: var(--color-sign-up-page-verify-form-account-key-text);
    margin-right: 16px;
  }

  &__copy-btn {
    @include ui-size(44px);

    padding: 10px;

    &:hover:enabled {
      background-color: var(--color-sign-up-page-verify-form-copy-btn-hover-bg);
    }

    &:active:enabled {
      background-color: var(
        --color-sign-up-page-verify-form-copy-btn-active-bg
      );
    }

    & > svg {
      width: 100%;
      height: 100%;

      fill: var(--color-sign-up-page-verify-form-copy-btn-fill);
    }
  }
}
