#app[data-theme-mode='light'] {
  --color-ui-modal-bg-color: var(--color-black);
  --color-ui-model-content-bg: var(--color-white);
  --color-ui-model-content-border: var(--color-gray-150);
}

.ui-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-ui-modal-bg-color);
    opacity: 0.6;
  }

  &__content {
    display: inline-flex;

    width: auto;
    overflow: auto;

    z-index: 1;

    background-color: var(--color-ui-model-content-bg);

    border-radius: 4px;
  }

  &__header {
    border-bottom: 1px solid var(--color-ui-model-content-border);

    &-title {
      font-size: 18px;
      font-weight: 500;
    }
  }
  &__footer {
    border-top: 1px solid var(--color-ui-model-content-border);

    & > * {
      margin-left: 8px;
    }
  }

  &__footer,
  &__body,
  &__header {
    padding: 20px 24px;
  }
}
