#app[data-theme-mode='light'] {
  --color-contained-text: var(--color-white);
  --color-contained-bg: var(--color-green-400);
  --color-contained-border: var(--color-green-400);
  --color-contained-hover-text: var(--color-white);
  --color-contained-hover-bg: var(--color-green-500);
  --color-contained-hover-border: var(--color-green-500);
  --color-contained-active-text: var(--color-white);
  --color-contained-active-bg: var(--color-green-500);
  --color-contained-active-border: var(--color-gray-500);
  --color-contained-disabled-text: var(--color-white);
  --color-contained-disabled-bg: var(--color-gray-350);
  --color-contained-disabled-border: var(--color-gray-350);

  --color-outlined-text: var(--color-green-400);
  --color-outlined-bg: transparent;
  --color-outlined-border: var(--color-green-400);
  --color-outlined-hover-text: var(--color-green-400);
  --color-outlined-hover-bg: var(--color-green-50);
  --color-outlined-hover-border: var(--color-green-400);
  --color-outlined-active-text: var(--color-green-400);
  --color-outlined-active-bg: var(--color-green-100);
  --color-outlined-active-border: var(--color-green-500);
  --color-outlined-disabled-text: var(--color-gray-300);
  --color-outlined-disabled-bg: transparent;
  --color-outlined-disabled-border: var(--color-gray-300);

  --color-text-text: var(--color-green-400);
  --color-text-bg: transparent;
  --color-text-border: transparent;
  --color-text-hover-text: var(--color-green-400);
  --color-text-hover-bg: var(--color-green-50);
  --color-text-active-text: var(--color-green-400);
  --color-text-active-bg: var(--color-green-100);
  --color-text-disabled-text: var(--color-gray-300);
  --color-text-disabled-bg: transparent;

  --color-ui-button-focus-border: var(--color-green-200);
  --color-ui-button-focus-bg: var(--color-green-100);

  --color-ui-button-loading-text: var(--color-white);
  --color-ui-button-loading-border: var(--color-green-400);
  --color-ui-button-loading-bg: var(--color-green-400);
}

.ui-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em 1.5em;

  font-size: 0.875em;
  font-weight: 500;

  border-radius: 0.25rem;

  cursor: pointer;

  user-select: none;

  transition: background 0.3s ease-out, color 0.3s ease-out, fill 0.3s ease-out,
    border 0.3s ease-out, box-shadow 0.3s;

  &_loading {
    &__icon {
      margin-right: 1.25rem;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &--contained {
    color: var(--color-contained-text);
    background-color: var(--color-contained-bg);
    border: 1px solid var(--color-contained-border);

    &:hover:enabled {
      color: var(--color-contained-hover-text);
      background-color: var(--color-contained-hover-bg);
      border: 1px solid var(--color-contained-hover-border);
    }

    &:active:enabled {
      color: var(--color-contained-active-text);
      background-color: var(--color-contained-active-bg);
      border: 1px solid var(--color-contained-active-border);
    }

    &:disabled {
      color: var(--color-contained-disabled-text);
      background-color: var(--color-contained-disabled-bg);
      border: 1px solid var(--color-contained-disabled-border);
    }
  }

  &--outlined {
    color: var(--color-outlined-text);
    background-color: var(--color-outlined-bg);
    border: 1px solid var(--color-outlined-border);

    &:hover:enabled {
      color: var(--color-outlined-hover-text);
      background-color: var(--color-outlined-hover-bg);
      border: 1px solid var(--color-outlined-hover-border);
    }

    &:active:enabled {
      color: var(--color-outlined-active-text);
      background-color: var(--color-outlined-active-bg);
      border: 1px solid var(--color-outlined-active-border);
    }

    &:disabled {
      color: var(--color-outlined-disabled-text);
      background-color: var(--color-outlined-disabled-bg);
      border: 1px solid var(--color-outlined-disabled-border);
    }
  }

  &--text {
    color: var(--color-text-text);
    background-color: var(--color-text-bg);
    border: 1px solid var(--color-text-border);

    &:hover:enabled {
      color: var(--color-text-hover-text);
      background-color: var(--color-text-hover-bg);
    }

    &:active:enabled {
      color: var(--color-text-active-text);
      background-color: var(--color-text-active-bg);
    }

    &:disabled {
      color: var(--color-text-disabled-text);
      background-color: var(--color-text-disabled-bg);
    }
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem var(--color-ui-button-focus-bg);
  }
}
