#app[data-theme-mode='light'] {
  --color-ui-alert-info-bg: var(--color-blue-10);
  --color-ui-alert-info-text: var(--color-blue-100);
  --color-ui-alert-info-icon-fill: var(--color-blue-100);

  --color-ui-alert-success-bg: var(--color-green-50);
  --color-ui-alert-success-text: var(--color-green-700);
  --color-ui-alert-success-icon-fill: var(--color-green-700);

  --color-ui-alert-warning-bg: var(--color-orange-50);
  --color-ui-alert-warning-text: var(--color-orange-500);
  --color-ui-alert-warning-icon-fill: var(--color-orange-500);

  --color-ui-alert-error-bg: var(--color-red-50);
  --color-ui-alert-error-text: var(--color-red-100);
  --color-ui-alert-error-icon-fill: var(--color-red-100);
}

.ui-alert {
  padding: 10px 26px;

  border: 0;
  border-radius: 4px;

  &__icon {
    --size: 22px;

    width: var(--size);
    height: var(--size);

    margin-right: 26px;
  }

  &__text {
    font-size: 14px;
  }

  &--info {
    background-color: var(--color-ui-alert-info-bg);

    .ui-alert__icon {
      fill: var(--color-ui-alert-info-icon-fill);
    }

    .ui-alert__text {
      color: var(--color-ui-alert-info-text);
    }
  }

  &--success {
    background-color: var(--color-ui-alert-success-bg);

    .ui-alert__icon {
      fill: var(--color-ui-alert-success-icon-fill);
    }

    .ui-alert__text {
      color: var(--color-ui-alert-success-text);
    }
  }

  &--warning {
    background-color: var(--color-ui-alert-warning-bg);

    .ui-alert__icon {
      fill: var(--color-ui-alert-warning-icon-fill);
    }

    .ui-alert__text {
      color: var(--color-ui-alert-warning-text);
    }
  }

  &--error {
    background-color: var(--color-ui-alert-error-bg);

    .ui-alert__icon {
      fill: var(--color-ui-alert-error-icon-fill);
    }

    .ui-alert__text {
      color: var(--color-ui-alert-error-text);
    }
  }
}
