#app[data-theme-mode='light'] {
  --color-ui-loading-border: var(--color-gray-200);
  --color-ui-loading-border-top: var(--color-gray-500);
}

.ui-loading {
  display: inline-flex;

  &__spinner {
    border-color: var(--color-ui-loading-border);
    border-top-color: var(--color-ui-loading-border-top);

    position: relative;
    display: inline-flex;
    border-radius: 50%;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.875rem;
    -webkit-animation-name: ui-loading-spinner-rotate;
    animation-name: ui-loading-spinner-rotate;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    width: 1rem;
    height: 1rem;
    border-width: 2px;
    transform-origin: 50% 50% calc((1rem / 2) + 2px);
  }
}

@keyframes ui-loading-spinner-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
