#app[data-theme-mode='light'] {
  --color-folders-treeview-vault-text: var(--color-gray-650);
  --color-folders-treeview-folder-text: var(--color-gray-650);

  --color-folders-treeview-active-bg: var(--color-green-50);
}

.folders-treeview {
  &__node {
    &__folder {
      &-icon {
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;

        --size: 24px;

        width: var(--size);
        height: var(--size);

        margin-right: 24px;

        transition: fill 0.3s;
      }

      &-text {
        max-width: 128px;

        font-size: 14px;
        line-height: 16px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        color: var(--color-folders-treeview-folder-text);

        transition: color 0.3s;
      }
    }

    &__vault {
      &-text {
        max-width: 128px;

        font-size: 14px;
        line-height: 16px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        color: var(--color-folders-treeview-vault-text);
      }

      &-icon {
        margin-right: 1.5rem;

        & > .ui-avatar__badge {
          font-size: 0.625rem;

          background-color: transparent !important;
          border-color: var(--color-ui-tree-view-node-text);
        }
      }
    }

    &_active {
      background-color: var(--color-folders-treeview-active-bg) !important;
    }
  }

  & .ui-tree-view__node_active {
    .folders-treeview__node__vault-icon > .ui-avatar__badge {
      color: var(--color-ui-tree-view-node-active-text);
      border-color: var(--color-ui-tree-view-node-active-text);
    }

    .folders-treeview__node__vault-text {
      color: var(--color-ui-tree-view-node-active-text);
    }

    .folders-treeview__node__folder-text {
      color: var(--color-ui-tree-view-node-active-text);
    }
  }
}
