#app[data-theme-mode='light'] {
  --color-folders-treeview-vault-text: var(--color-gray-650);
  --color-folders-treeview-folder-text: var(--color-gray-650);

  --color-folders-treeview-active-bg: var(--color-green-50);
}

.folders-treeview {
  & .ui-tree-view__nested-nodes {
    padding-left: 2rem;
  }

  &__node {
    padding-left: 0;
    padding-right: 0;

    &__folder {
      &-icon {
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;

        --size: 1.5rem;

        width: var(--size);
        height: var(--size);

        margin-right: 1.5rem;

        transition: fill 0.3s;
      }

      &-text {
        max-width: 128px;

        font-size: 14px;
        line-height: 16px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        color: var(--color-folders-treeview-folder-text);

        transition: color 0.3s;
      }
    }

    &_active {
      background-color: var(--color-folders-treeview-active-bg) !important;
    }
  }

  & .ui-tree-view__node_active {
    .folders-treeview__node__vault-text {
      color: var(--color-ui-tree-view-node-active-text);
    }

    .folders-treeview__node__folder-text {
      color: var(--color-ui-tree-view-node-active-text);
    }
  }
}
