#app[data-theme-mode='light'] {
  --color-avatar-item-field-title: var(--color-gray-650);
  --color-avatar-item-field-text: var(--color-gray-300);

  --color-avatar-item-field-name-border: var(--color-gray-150);
}

.avatar-item-field {
  &__name {
    --size: 44px;

    width: var(--size);
    height: var(--size);

    border: 1px solid var(--color-avatar-item-field-name-border);
    border-radius: 4px;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;

    color: var(--color-avatar-item-field-title);
  }

  &__text {
    font-size: 15px;
    font-weight: 400;

    color: var(--color-avatar-item-field-text);

    &_editing {
      padding: 6px 22px;
    }
  }
}
