.ui-theme_light {
  --color-secondary-card-name-text-color: #{$gray-650};
  --color-secondary-card-desc-text-color: #{$gray-450};
  --color-secondary-card-datetime-text-color: #{$gray-450};

  --color-secondary-card-badge-desc-text-color: #{$gray-400};

  --color-secondary-card-category-text-color: #{$gray-650};
  --color-secondary-card-category-icon-fill: #{$gray-650};
}

.secondary-card {
  &__category {
    width: 50%;

    &-name {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      font-size: 1rem;
      font-weight: 400;

      color: var(--color-secondary-card-category-text-color);
    }

    &-icon {
      @include ui-size(1.5rem);
      @include ui-flex-fixed;
      @include ui-mr-4;

      fill: var(--color-secondary-card-category-icon-fill);
    }
  }

  &__name,
  &__desc,
  &__datetime {
    @include ui-my-2;
    @include ui-w-full;
    @include ui-truncate;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--color-secondary-card-name-text-color);
  }

  &__desc {
    font-size: px_to_rem(15px);

    color: var(--color-secondary-card-desc-text-color);
  }

  &__datetime {
    font-size: px_to_rem(14px);

    color: var(--color-secondary-card-datetime-text-color);
  }

  &__tags {
    @include ui-py-4;

    & > * {
      @include ui-px-8;
      @include ui-py-4;
    }
  }

  &__badge {
    margin-right: 10px;

    &-desc {
      font-size: 13px;
      font-weight: 500;

      color: var(--color-secondary-card-badge-desc-text-color);
    }
  }

  &__header,
  &__body,
  &__footer {
    @include ui-py-2;
  }
}
