#app[data-theme-mode='light'] {
  --color-secondary-card-name-text-color: var(--color-gray-650);
  --color-secondary-card-desc-text-color: var(--color-gray-450);
  --color-secondary-card-datetime-text-color: var(--color-gray-450);

  --color-secondary-card-badge-desc-text-color: var(--color-gray-400);

  --color-secondary-card-category-text-color: var(--color-gray-650);
  --color-secondary-card-category-icon-fill: var(--color-gray-650);
}

.secondary-card {
  &__category {
    width: 50%;

    &-name {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      font-size: 14px;
      font-weight: 400;

      color: var(--color-secondary-card-category-text-color);
    }

    &-icon {
      --size: 20px;

      min-width: var(--size);
      max-width: var(--size);
      min-height: var(--size);
      max-height: var(--size);

      fill: var(--color-secondary-card-category-icon-fill);

      margin-right: 0.5rem;
    }
  }

  &__name,
  &__desc,
  &__datetime {
    margin: 0.25rem 0;

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__name {
    font-size: 18px;
    font-weight: 600;

    color: var(--color-secondary-card-name-text-color);
  }

  &__desc {
    font-size: 13px;

    color: var(--color-secondary-card-desc-text-color);
  }

  &__datetime {
    font-size: 13px;

    color: var(--color-secondary-card-datetime-text-color);
  }

  &__tags {
    padding: 0.5rem 0;

    & > * {
      padding: 0.5rem 1rem;
    }
  }

  &__badge {
    margin-right: 10px;

    &-desc {
      font-size: 13px;
      font-weight: 500;

      color: var(--color-secondary-card-badge-desc-text-color);
    }
  }

  &__header,
  &__body,
  &__footer {
    padding: 0.25rem 0;
  }
}
