.page[data-theme-mode='light'] {
  --color-folders-and-items-table-row-hover-bg: var(--color-gray-50);

  --color-folders-and-items-table-row-active-bg: var(--color-green-50);
  --color-folders-and-items-table-cell-active-text: var(--color-green-400);
  --color-folders-and-items-table-cell-active-icon-fill: var(--color-green-400);

  --color-folders-and-items-table-cell-icon-fill: var(--color-gray-450);
}

.folders-and-items-table {
  &__table {
    padding: 20px;

    &-body {
      &-row {
        cursor: pointer;

        &_active {
          background-color: var(--color-folders-and-items-table-row-active-bg);

          .folders-and-items-table__table-body-cell__title {
            color: var(--color-folders-and-items-table-cell-active-text);
          }

          .folders-and-items-table__table-body-cell__icon {
            fill: var(--color-folders-and-items-table-cell-active-icon-fill);
          }
        }
      }

      &-cell {
        &-name {
          flex: 1 1 auto;
        }
        &-desc {
          flex: 0 0 320px;
        }
        &-updated-at {
          flex: 0 0 200px;
        }
        &-created-at {
          flex: 0 0 200px;
        }
        &__title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &__icon {
          margin-right: 16px;

          --size: 24px;

          width: var(--size);
          height: var(--size);

          fill: var(--color-folders-and-items-table-cell-icon-fill);
        }
      }
    }
  }
}
