#app[data-theme-mode='light'] {
  --color-ui-tree-view-node-bg: transparent;
  --color-ui-tree-view-node-text: var(--color-gray-650);
  --color-ui-tree-view-node-fill: var(--color-gray-650);

  --color-ui-tree-view-node-hover-bg: var(--color-gray-100);
  --color-ui-tree-view-node-hover-text: var(--color-gray-650);
  --color-ui-tree-view-node-hover-fill: var(--color-gray-650);

  --color-ui-tree-view-node-active-bg: var(--color-green-50);
  --color-ui-tree-view-node-active-text: var(--color-green-400);
  --color-ui-tree-view-node-active-fill: var(--color-green-400);
}

.ui-tree-view {
  &__node {
    width: 100%;

    flex-shrink: 0;
    justify-content: flex-start;

    margin-bottom: 10px;
    padding: 4px 20px;

    cursor: pointer;
    user-select: none;

    transition: background 0.3s, color 0.3s, fill 0.3s;

    background-color: var(--color-ui-tree-view-node-bg);
    fill: var(--color-ui-tree-view-node-fill);
    color: var(--color-ui-tree-view-node-text);

    &:not(.ui-tree-view__node_active):hover {
      fill: var(--color-ui-tree-view-node-hover-fill);
      color: var(--color-ui-tree-view-node-hover-text);
    }

    &_active {
      fill: var(--color-ui-tree-view-node-active-fill);
      color: var(--color-ui-tree-view-node-active-text);

      .ui-tree-view__node__btn__icon {
        fill: var(--color-ui-tree-view-node-active-fill);
      }
    }

    &_hovered {
      fill: var(--color-ui-tree-view-node-hover-fill);
      color: var(--color-ui-tree-view-node-hover-text);
    }

    &_expanded {
      .ui-tree-view__node__btn {
        transform: rotate(90deg);
      }
    }

    &__btn {
      --size: 24px;

      width: var(--size);
      height: var(--size);

      transform: rotate(0deg);
      padding: 5px;
      margin-right: 6px;

      box-shadow: none !important;
      background-color: transparent !important;

      &__icon {
        --size: 7px;

        width: var(--size);
        height: var(--size);
      }

      &_hidden {
        visibility: hidden;
      }
    }

    &__left {
      display: inline-flex;
      width: auto;
    }
  }

  &__nested-nodes {
    padding-left: 20px;
  }
}
