.ui-grid {
  display: flex;
  width: 100%;

  &_dir-row {
    flex-direction: row;
  }

  &_dir-row-reverse {
    flex-direction: row-reverse;
  }

  &_dir-column {
    flex-direction: column;
  }

  &_dir-column-reverse {
    flex-direction: column-reverse;
  }

  &_justify-center {
    justify-content: center;
  }

  &_justify-start {
    justify-content: start;
  }

  &_justify-end {
    justify-content: end;
  }

  &_justify-flex-start {
    justify-content: flex-start;
  }

  &_justify-flex-end {
    justify-content: flex-end;
  }

  &_justify-space-between {
    justify-content: space-between;
  }

  &_justify-space-around {
    justify-content: space-around;
  }

  &_align-center {
    align-items: center;
  }

  &_align-flex-start {
    align-items: flex-start;
  }

  &_align-flex-end {
    align-items: flex-end;
  }

  &_wrap-wrap {
    flex-wrap: wrap;
  }

  &_wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  &_wrap-nowrap {
    flex-wrap: nowrap;
  }
}
