.ui-theme_light {
  --color-app-page-title-text: #{$gray-650};
  --color-app-page-desc-text: #{$gray-550};
}

.app-page {
  &__appbar,
  &__header-layout,
  &__nav-layout,
  &__main-layout {
    @include ui-px-14;
  }

  &__nav-layout {
    @include ui-py-4;
  }

  &__main-layout {
    @include ui-overflow-auto;
    @include ui-h-full;
  }

  &__header-layout {
    @include ui-h(112px);
    @include ui-flex-fixed;
  }

  &__breadcrumbs-layout {
    @include ui-h(36px);
    @include ui-flex-fixed;
  }

  &__title {
    font-size: 2.125em;
    font-weight: 700;

    color: var(--color-app-page-title-text);
  }

  &__desc {
    font-size: 15px;
    font-weight: 500;

    line-height: 2.25rem;

    color: var(--color-app-page-desc-text);

    text-align: center;
  }
}
