.ui-theme_light {
  --color-new-element-button-icon-fill: #{$green-400};
  --color-new-element-button-text: #{$green-400};
}

.new-element-button {
  @include ui-px-10;
  @include ui-py-6;

  border-radius: 1.5em;

  &__icon {
    @include ui-size(1.25rem);
    @include ui-mr-8;

    fill: var(--color-new-element-button-icon-fill);
  }

  &__text {
    font-size: 1em;

    color: var(--color-new-element-button-text);
  }
}
