.page[data-theme-mode='light'] {
  --color-listbar-border: var(--color-gray-150);
  --color-listbar-title: var(--color-gray-650);
  --color-listbar-separator: var(--color-gray-150);
}

.listbar {
  display: inline-flex;

  min-width: 270px;
  width: auto;
  height: 100vh;

  padding: 0 20px;

  border-right: 1px solid var(--color-listbar-border);

  &__title {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: auto;
    height: 70px;

    padding: 0 20px;

    text-align: center;
    vertical-align: center;

    font-size: 24px;
    font-weight: 600;

    color: var(--color-listbar-title);
  }

  &__separator {
    width: 100%;
    height: 1px;

    background-color: var(--color-listbar-separator);
  }

  &__menu {
    padding: 32px 0;

    &-item {
      width: 100%;

      border-style: dashed;
    }
  }
}
