.ui-theme_light {
  --color-accounts-page-hover-bg: #{gray-50};
  --color-accounts-page-active-bg: #{gray-100};
}

.accounts {
  &__list {
    max-height: 520px;
    min-height: 360px;

    overflow-y: auto;
  }

  &__account {
    user-select: none;

    cursor: pointer;

    &:hover {
      background-color: var(--color-accounts-page-hover-bg);
    }

    &:active {
      background-color: var(--color-accounts-page-active-bg);
    }
  }
}
