#app[data-theme-mode='light'] {
  --color-ui-token-bg: var(--color-gray-100);
  --color-ui-token-close-btn-fill: var(--color-gray-650);

  --color-ui-token-focus-bg: var(--color-gray-200);
}

.ui-token {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.25rem 0.5rem;

  cursor: default;
  user-select: none;

  background-color: var(--color-ui-token-bg);

  &:focus {
    outline: none;
    background-color: var(--color-ui-token-focus-bg);
  }

  &__text {
    font-size: 14px;
    font-weight: 400;

    white-space: nowrap;
  }

  &__close-btn {
    --size: 8px;

    width: var(--size);
    height: var(--size);

    fill: var(--color-ui-token-close-btn-fill);

    margin-left: 8px;

    cursor: pointer;
  }
}
