.page[data-theme-mode='light'] {
  --color-controls-layout-border: var(--color-gray-150);
  --color-controls-layout-bg: var(--color-white);
}

.main-layout {
  height: 100vh;
  overflow: hidden;
}

.container-layout {
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.controls-layout {
  top: 0;
  left: 0;
  position: sticky;

  padding: 0 20px;
  min-height: 48px;
  max-height: 48px;

  border-bottom: 1px solid var(--color-controls-layout-border);
  background-color: var(--color-controls-layout-bg);
}

.folder-content-layout {
  height: 100%;
  padding: 20px;
}

.item-content-layout {
  padding: 20px;
}

.search-content-layout {
  height: 100%;
  padding: 20px;
}
