@import '../../ui/palette.scss';

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus {
    outline-style: none;
  }
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

button {
  &:focus {
    outline-style: none;
  }
}
