.page[data-theme-mode='light'] {
  --color-search-teams-by-tokens-dropdown-item-desc: var(--color-gray-400);
}

.search-teams-by-tokens {
  &__token-head {
    margin-left: 0.25rem;
  }
  &__dropdown-item-desc > p {
    font-size: 13px;
    color: var(--color-search-teams-by-tokens-dropdown-item-desc);
  }
}
