#app[data-theme-mode='light'] {
  --color-ui-breadcrumbs-item-text: var(--color-gray-450);

  --color-ui-breadcrumbs-separator-fill: var(--color-gray-400);

  --color-ui-breadcrumbs-dropdown-item-text: var(--color-gray-550);
  --color-ui-breadcrumbs-dropdown-item-bg: transparent;

  --color-ui-breadcrumbs-dropdown-item-hover-text: var(--color-gray-450);
  --color-ui-breadcrumbs-dropdown-item-hover-bg: var(--color-gray-100);

  --color-ui-breadcrumbs-dropdown-item-focus-bs: var(--color-gray-150);

  --color-ui-breadcrumbs-dotted-btn-icon: var(--color-gray-450);
  --color-ui-breadcrumbs-dotted-btn-hover-icon: var(--color-gray-400);
  --color-ui-breadcrumbs-dotted-btn-hover-bg: var(--color-gray-100);
  --color-ui-breadcrumbs-dotted-btn-active-icon: var(--color-gray-400);
  --color-ui-breadcrumbs-dotted-btn-active-bg: var(--color-gray-100);
}

.ui-breadcrumbs {
  &__item {
    --space: 0.5rem;

    display: inline-flex;
    width: auto;

    margin-right: var(--space);

    &:last-child {
      margin-right: 0;
    }

    & > * {
      margin-right: var(--space);
    }

    & > *:last-child {
      margin-right: 0;
    }

    &__btn {
      font-size: 15px;
      font-weight: 500;

      color: var(--color-ui-breadcrumbs-dropdown-item-text);
      background-color: var(--color-ui-breadcrumbs-dropdown-item-bg);

      padding: 4px 8px;

      &:hover {
        color: var(--color-ui-breadcrumbs-dropdown-item-hover-text) !important;
        background-color: var(
          --color-ui-breadcrumbs-dropdown-item-hover-bg
        ) !important;
      }

      &:focus {
        box-shadow: 0 0 0 0.25rem
          var(--color-ui-breadcrumbs-dropdown-item-focus-bs);
      }
    }
  }

  &__separator {
    flex: 0 0 auto;

    --size: 12px;

    width: var(--size);
    height: var(--size);

    fill: var(--color-ui-breadcrumbs-separator-fill);
  }

  &__dotted-btn {
    --size: 36px;

    width: var(--size);
    height: var(--size);

    padding: 0;

    border-radius: 50%;

    &:hover {
      background-color: var(
        --color-ui-breadcrumbs-dotted-btn-hover-bg
      ) !important;
    }

    &__icon {
      --size: 16px;

      width: var(--size);
      height: var(--size);

      fill: var(--color-ui-breadcrumbs-dotted-btn-icon);
    }

    &:hover {
      fill: var(--color-ui-breadcrumbs-dotted-btn-hover-icon);
    }

    &:active {
      fill: var(--color-ui-breadcrumbs-dotted-btn-active-icon);
    }

    &_active {
      fill: var(--color-ui-breadcrumbs-dotted-btn-active-icon);
      background-color: var(--color-ui-breadcrumbs-dotted-btn-active-bg);
    }
  }

  &__dropdown-item {
    &__text {
      font-size: 14px;
      font-weight: 400;

      color: var(--color-ui-breadcrumbs-dropdown-item-text);
    }

    &__icon {
      --size: 20px;

      width: var(--size);
      height: var(--size);

      margin-right: 24px;

      fill: var(--color-ui-breadcrumbs-dropdown-item-text);
    }
  }
}
