.page[data-theme-mode='light'] {
  --color--color-sign-in-page-bg: var(--color-gray-50);
  --color-sign-in-page-link-text: var(--color-green-400);
  --color-sign-in-page-link-hover-text: var(--color-green-500);
}

.page {
  &__container {
    min-height: 100vh;

    background-color: var(--color--color-sign-in-page-bg);
  }
  &__form-layout {
    width: auto;
  }
}

.auth-form {
  &__input {
    min-width: 400px;
    margin: 8px 0;
  }
}

.link {
  font-size: 15px;
  color: var(--color-sign-in-page-link-text);

  &:hover {
    color: var(--color-sign-in-page-link-hover-text);
  }
}
