.ui-theme_light {
  --color-auth-form-link-text: #{$green-400};
  --color-auth-form-link-hover-text: #{$green-500};
}

.auth-form {
  &__link {
    margin: 0.25rem 0;

    font-size: 15px;

    color: var(--color-auth-form-link-text);

    &:hover {
      color: var(--color-auth-form-link-hover-text);
    }
  }
}
