.page[data-theme-mode='light'] {
  --color--color-sign-in-page-title: var(--color-gray-700);
  --color--color-sign-in-page-desc: var(--color-gray-700);
}

.auth-form {
  max-width: 500px;

  &__section:first-child {
    margin-bottom: 24px;
  }

  &__section:nth-child(2) {
    margin-bottom: 0px;
  }
}

.link-btn {
  margin-left: -20px;
}

.illustration {
  width: 100%;
}

.title {
  font-weight: 500;
  color: var(--color--color-sign-in-page-title);

  margin-bottom: 16px;
}

.desc {
  color: var(--color--color-sign-in-page-desc);
  margin-bottom: 24px;
  font-size: 15px;

  & > span {
    font-weight: 600;
  }
}
