#app[data-theme-mode='light'] {
  --color-new-vault-form-bg: var(--color-white);
  --color-new-vault-form-title: var(--color-gray-700);
}

.new-vault-btn {
  width: 100%;

  border-style: dashed;

  &:hover:enabled {
    border-style: dashed;
  }

  &__text {
    display: inline-flex;
  }
}

.new-vault-form {
  display: inline-flex;

  width: auto;

  border-radius: 4px;

  background-color: var(--color-new-vault-form-bg);

  &__title {
    display: inline-flex;

    font-size: 24px;
    font-weight: 500;

    color: var(--color-new-vault-form-title);
  }

  &__input {
    width: 100%;
    min-width: 324px;

    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__controls {
    margin-bottom: 0;
  }

  &__avatar {
    margin-bottom: 24px;

    & > div {
      font-size: 22px;
    }
  }

  &__alert {
    margin-bottom: 16px;
  }
}
