#app[data-theme-mode='light'] {
  --color-new-vault-form-bg: var(--color-white);
  --color-new-vault-form-title: var(--color-gray-700);
}

.new-vault-btn {
  width: 100%;

  border-style: dashed;

  &:hover:enabled {
    border-style: dashed;
  }

  &__text {
    display: inline-flex;
  }
}

.new-vault-form {
  display: inline-flex;

  width: auto;

  border-radius: 0.25rem;

  background-color: var(--color-new-vault-form-bg);

  &__title {
    display: inline-flex;

    font-size: 1.5em;
    font-weight: 500;

    color: var(--color-new-vault-form-title);
  }

  &__input {
    width: 100%;
    min-width: 324px;

    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__controls {
    margin-bottom: 0;
  }

  &__avatar {
    margin-bottom: 1.5rem;

    & > .ui-avatar__badge {
      --size: 3.125rem;

      min-width: var(--size);
      min-height: var(--size);

      font-size: 1.375em;
    }
  }

  &__alert {
    margin-bottom: 1rem;
  }
}
