.page[data-theme-mode='light'] {
  --color-sidebar-menu-item-icon-fill: var(--color-gray-650);
  --color-sidebar-menu-item-text: var(--color-gray-650);

  --color-sidebar-menu-item-hover-bg: var(--color-gray-100);
  --color-sidebar-menu-item-hover-icon: var(--color-gray-650);
  --color-sidebar-menu-item-hover-text: var(--color-gray-650);

  --color-sidebar-menu-item-active-bg: var(--color-green-50);
  --color-sidebar-menu-item-active-icon: var(--color-green-400);
  --color-sidebar-menu-item-active-text: var(--color-green-400);

  --color-sidebar-menu-item-selected-bg: var(--color-green-50);
  --color-sidebar-menu-item-selected-icon: var(--color-green-400);
  --color-sidebar-menu-item-selected-text: var(--color-green-400);
}

.sidebar {
  &__menu {
    margin-top: 32px;

    &-item {
      width: 90px;
      height: 72px;

      margin-bottom: 10px;

      transition: all 0.3s ease-out;

      &-icon {
        --size: 24px;

        width: var(--size);
        height: var(--size);

        margin-bottom: 6px;

        fill: var(--color-sidebar-menu-item-icon-fill);
      }

      &-text {
        font-size: 11px;

        color: var(--color-sidebar-menu-item-text);
      }

      &:not(.sidebar__menu-item_active, .sidebar__menu-item:active):hover {
        background-color: var(--color-sidebar-menu-item-hover-bg) !important;

        .sidebar__menu-item-icon {
          fill: var(--color-sidebar-menu-item-hover-icon);
        }

        .sidebar__menu-item-text {
          color: var(--color-sidebar-menu-item-hover-text);
        }
      }

      &:not(.sidebar__menu-item_active):active {
        background-color: var(--color-sidebar-menu-item-active-bg) !important;

        .sidebar__menu-item-icon {
          fill: var(--color-sidebar-menu-item-active-icon);
        }

        .sidebar__menu-item-text {
          color: var(--color-sidebar-menu-item-active-text);
        }
      }

      &_active {
        background-color: var(--color-sidebar-menu-item-selected-bg) !important;

        .sidebar__menu-item-icon {
          fill: var(--color-sidebar-menu-item-selected-icon);
        }

        .sidebar__menu-item-text {
          color: var(--color-sidebar-menu-item-selected-text);
        }
      }
    }
  }
}
