.pwd-form {
  max-width: 500px;

  &__input {
    margin-top: 0.75rem;
  }

  &__warning {
    margin-top: 1rem;

    &-icon {
      display: inline-flex;
      flex-wrap: wrap;

      @include ui-size(48px);

      margin: 0 1.25rem;
    }

    &-title {
      font-size: 14px;

      & > span {
        font-weight: 600;
      }
    }
  }
}
