.ui-theme_light {
  --color-app-logo-title-text: #{$gray-650};
}

.app-logo {
  display: inline-flex;

  width: auto;

  cursor: pointer;

  &__icon {
    @include ui-size(40px);

    margin-right: 1rem;
  }

  &__title {
    font-size: 1.125em;
    font-weight: 500;

    color: var(--color-app-logo-title-text);
  }
}
