.page[data-theme-mode='light'] {
  --color-account-border: var(--color-gray-150);
  --color-account-icon: var(--color-gray-450);
  --color-account-text: var(--color-gray-450);
}

.account {
  padding: 13px 26px;
  border: 1px solid var(--color-account-border);
  border-radius: 4px;

  &__icon {
    --size: 40px;

    width: var(--size);
    height: var(--size);

    fill: var(--color-account-icon);

    margin-right: 26px;
  }

  &__username {
    color: var(--color-account-text);

    margin-bottom: 4px;
  }

  &__key {
    font-size: 13px;

    color: var(--color-account-text);
  }
}
