.page[data-theme-mode='light'] {
  --color-sign-in-page-auth-form-bg: var(--color-white);
  --color-sign-in-page-auth-form-border: var(--color-gray-150);
  --color-sign-in-page-auth-form-title: var(--color-gray-700);
  --color-sign-in-page-auth-form-desc: var(--color-gray-700);
}

.auth-form {
  width: auto;
  padding: 40px 48px;
  border-radius: 4px;
  border: 1px solid var(--color-sign-in-page-auth-form-border);

  background-color: var(--color-sign-in-page-auth-form-bg);

  &__section {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 8px;

    font-size: 24px;
    font-weight: 500;

    color: var(--color-sign-in-page-auth-form-title);
  }

  &__desc {
    font-size: 15px;

    color: var(--color-sign-in-page-auth-form-desc);
  }
}
