.page[data-theme-mode='light'] {
  --color-links-text: var(--color-gray-450);
  --color-links-icon: var(--color-gray-450);
  --color-links-hover-text: var(--color-gray-450);
  --color-links-hover-bg: var(--color-gray-100);
  --color-links-active-text: var(--color-gray-450);
  --color-links-active-bg: var(--color-gray-150);
}

.links {
  &__support {
    width: auto;
  }

  &__icon {
    --size: 10px;

    width: var(--size);
    height: var(--size);

    fill: var(--color-links-icon);

    margin-left: 12px;

    transform: rotate(90deg);
  }

  &__btn {
    color: var(--color-links-text);

    &:hover:enabled {
      color: var(--color-links-hover-text) !important;
      background-color: var(--color-links-hover-bg) !important;
    }

    &:active:enabled {
      color: var(--color-links-active-text) !important;
      background-color: var(--color-links-active-bg) !important;
    }
  }
}
