.ui-theme_light {
  --color-management-title: #{$gray-550};
}

.team-list {
  height: 100%;

  overflow: auto;

  &__team {
    margin: 0.625rem;
  }
}

.folder-content {
  &__table {
    padding: 20px;
  }
}

.management-title {
  font-size: 15px;
  font-weight: 500;

  line-height: 2.25rem;

  color: var(--color-management-title);

  text-align: center;
}
