.item-model {
  height: 100%;

  padding-top: 64px;

  &__model {
    width: 896px;

    flex-shrink: 0;
    flex-grow: 0;

    & > * {
      margin: 10px 0;
    }
  }

  &__add-field-btn {
    border-style: dashed;

    &:hover {
      border-style: dashed !important;
    }
  }
}
