.ui-theme_light {
  --color-primary-card-title-text: #{$gray-650};
  --color-primary-card-desc-text: #{$gray-450};

  --color-primary-card-badge-desc-text: #{$gray-400};

  --color-primary-card-active-bg: #{$green-50};

  --color-primary-card-active-title-text: #{$green-400};
  --color-primary-card-active-desc-text: #{$green-400};

  --color-primary-card-active-badge-desc-text: #{$green-400};
}

.primary-card {
  &__icon,
  &__name,
  &__desc {
    margin: 0.125rem 0;

    transition: all 0.3s;
  }

  &__icon {
    background-color: transparent;
    margin-bottom: 0.875rem;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--color-primary-card-title-text);
  }

  &__desc {
    font-size: 0.875rem;

    color: var(--color-primary-card-desc-text);
  }

  &__name,
  &__desc {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__badge {
    margin-right: 10px;

    &-desc {
      font-size: 13px;
      font-weight: 500;

      color: var(--color-primary-card-badge-desc-text);
    }
  }

  &__footer {
    height: 1.5rem;
  }

  &_active {
    background-color: var(--color-primary-card-active-bg);

    .primary-card__name {
      color: var(--color-primary-card-active-title-text);
    }

    .primary-card__desc {
      color: var(--color-primary-card-active-desc-text);
    }

    .primary-card__badge {
      &-desc {
        color: var(--color-primary-card-active-badge-desc-text);
      }
    }
  }
}
