:root {
  --color-white: #fff;
  --color-black: #000;

  --color-gray-50: #fafafa;
  --color-gray-75: #f1f1f1;
  --color-gray-100: #e8e8e8;
  --color-gray-150: #d7d7d7;
  --color-gray-200: #c5c5c5;
  --color-gray-250: #b4b4b4;
  --color-gray-300: #a4a4a4;
  --color-gray-350: #939393;
  --color-gray-400: #838383;
  --color-gray-450: #737373;
  --color-gray-500: #646464;
  --color-gray-550: #555555;
  --color-gray-600: #464646;
  --color-gray-650: #383838;
  --color-gray-700: #2b2b2b;
  --color-gray-750: #1e1e1e;
  --color-gray-800: #111111;

  --color-blue-10: #ebf1fd;
  --color-blue-50: #6a99ff;
  --color-blue-100: #5c8bf9;
  --color-blue-200: #4f7df3;
  --color-blue-300: #426fec;
  --color-blue-400: #3674ff;
  --color-blue-500: #2a53dd;
  --color-blue-600: #1e44d4;
  --color-blue-700: #1335cc;
  --color-blue-800: #0823c2;
  --color-blue-900: #0009b8;

  --color-green-50: #dff8f4;
  --color-green-100: #b3e2da;
  --color-green-200: #87cdc0;
  --color-green-300: #57b7a6;
  --color-green-400: #04a18c;
  --color-green-500: #038875;
  --color-green-600: #026f60;
  --color-green-700: #01584b;
  --color-green-800: #004137;

  --color-red-50: #fdecea;
  --color-red-100: #ff2525;
  --color-red-200: #f31f1e;
  --color-red-300: #e71917;
  --color-red-400: #db120f;
  --color-red-500: #cf0907;
  --color-red-600: #c30000;

  --color-orange-50: #fff4e5;
  --color-orange-100: #ff8536;
  --color-orange-200: #f7802e;
  --color-orange-300: #ee7b25;
  --color-orange-400: #e6761b;
  --color-orange-500: #dd7110;
  --color-orange-600: #d56c00;
}
