.ui-theme_light {
  --color-appbar-account-text: #{$gray-550};
  --color-appbar-account-btn-fill: #{$gray-550};
}

.appbar {
  &__account {
    display: inline-flex;

    width: auto;

    & > * {
      margin-right: 32px;
    }

    & > *:last-child {
      margin-right: 0;
    }

    &-text {
      font-weight: 500;
      color: var(--color-appbar-account-text);
    }

    &-btn {
      @include ui-size(14px);

      transform: rotate(90deg);

      fill: var(--color-appbar-account-btn-fill);
    }
  }
}
