#app[data-theme-mode='light'] {
  --color-ui-popup-box-shadow: var(--color-gray-100);
}

.ui-popup {
  display: inline-flex;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;

  visibility: hidden;

  overflow: auto;

  max-height: 19.5rem;

  z-index: 30;

  box-shadow: 0 0 10px var(--color-ui-popup-box-shadow);

  &_visible {
    visibility: visible;
  }
}
