.ui-theme_light {
  --color-link-item-field-title: #{$gray-650};
  --color-link-item-field-text: #{$gray-300};
  --color-link-item-field-link: #{$green-400};
}

.link-item-field {
  &__title {
    font-size: 15px;
    font-weight: 400;

    color: var(--color-link-item-field-title);
  }

  &__text {
    font-size: 15px;
    font-weight: 400;

    color: var(--color-link-item-field-text);

    &_editing {
      width: 324px;

      flex-shrink: 0;

      padding: 6px 22px;
    }
  }

  &__link {
    &:hover {
      color: var(--color-link-item-field-link);
    }
  }
}
